@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
}

@layer utilities {
}

.tags-input-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.mega-box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 5px;
}

.tag-block,
.symbol-block {
  padding: 5px 10px;
  margin: 5px;
  background-color: #e0e0e0;
  border-radius: 3px;
}

input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
